body {
    background-image: url("/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.parent {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 15px;
    background-color: rgba(0, 59, 169, 0.1);
    padding: 15px;
    }
    
    .outer-element-grid {
        display: flex;
        flex-direction: column;
        display: grid;
        border: 1px black solid;
        border-radius: 10px;
    }

    .a3 {
        background-color: var(--clear);
    }


    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }
    
    :root {
    --clear: rgba(56, 239, 0, 0.3);
    --notclear: rgba(255, 40, 37, 0.3);
    }