body {
  margin: 0;
  padding: 0;
}

iframe {
  height: 100%;
  width: 100%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  overflow: hidden;
}

.div1 {
  grid-area: 1 / 1 / 4 / 3;
}
.div2 {
  grid-area: 4 / 1 / 7 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 6;
  font-family: Arimo, sans-serif;
  color: white;
  background-color: #2a363b;
  justify-content: center;
  text-align: center;
  direction: rtl;
  display: flex;
  align-items: flex-start
}
.div4 {
  grid-area: 2 / 3 / 7 / 6;
}

h1 {
  font-size: 9rem;
  font-weight: bold;
  background-color: yellow;
  padding: 10px;
  border-radius: 15px;
  display: inline;
  color: red;
}
h2 {
  font-size: 3rem;
  font-style: italic;
  margin-top: 0;
}

.news-ticker {
  width: 100%;
  overflow: hidden;
  background-color: #2a363b;
  color: #fff;
  padding: 10px 0;
  box-sizing: border-box;
  white-space: nowrap;
  margin-top: 30px;
  margin-left: 20px;
  border: white solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.news-content {
  margin-top: -20px;
  display: inline-block;
  padding-left: 100%;
  animation: slide-left 20s linear infinite;
}

/* Keyframes for the sliding effect */
@keyframes slide-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

#newsContent {
  font-size: 40px;
  font-weight: bold;
}

.time {
  width: 50%;
}